<div class="d-flex justify-content-between">
      <h4>Add new Book</h4>

      <button mat-button (click)="onClose()">
            <mat-icon>close</mat-icon>
      </button>
</div>
<div style="overflow:auto; height: 450px;">
      <form #form="ngForm" (submit)="onSubmit(forn)" autocomplete="off">

            <div class="mt-4 input-group">
                 <div class="input-group-prepend">
                       <span class="input-group-text">Book name</span>                       
                 </div> 
                 <input required  type="text"
                 class="form-control"
                 name="NameBook"
                 #NameBook="ngModel"
                 [(ngModel)]="service.formData.NameBook">
            </div>

                  <div class="mt-4 input-group">
                        <div class="input-group-prepend">
                              <span class="input-group-text">Author</span>                       
                        </div> 
                        <input required  type="text"
                        class="form-control"
                        name="Author"
                        #Author="ngModel"
                        [(ngModel)]="service.formData.Author">
                   </div>

                   <div class="mt-4 input-group">
                              <div class="input-group-prepend">
                                    <span class="input-group-text">Page</span>                       
                              </div> 
                              <input required  type="text"
                              class="form-control"
                              name="Page"
                              #Page="ngModel"
                              [(ngModel)]="service.formData.Page">
                         </div>  

            <div class="text-left text-danger"
            *ngIf="NameBook.invalid && NameBook.touched">
            Please enter Book name.
      </div>
      <button class="mt-2" mat-raised-button (click)="saveBook()" color="primary">Add book</button>    
      <!-- <button class="mt-4" mat-raised-button color="primary" (click)="saveBook()" type="submit"[disabled]="form.invalid">Add Book</button> -->
      </form>
</div>